<header>
	<nav class="be-blue white large-padding">
		<ul class="no-list row center-xs middle-xs">
			<li class="col-md"><h1 class="no-margin" id="logo">Blog en Rails</h1></li>
			<li class="col-md"><%= link_to "Home", root_path %></li>
			<li class="col-md">Design</li>
			<li class="col-md">Programming</li>
			<li class="col-md">Technology</li>
			<% if user_signed_in? %>
			<li class="col-md"><%= link_to "Salir", destroy_user_session_path, method: :delete %></li>
			<li class="col-md">Iniciar Sesion</li>
			<% end%>
		</ul>
	</nav>
</header>